{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to Mzuri Farming</h1>
<img src="{% static 'images/MzuriFarming.jpeg' %}" alt="Farming Image" class="img-fluid rounded" style="max-width: 100%; height: auto;"><br>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
            <h3 class="text-uppercase">About Us</h3>
            <p>At MzuriFarming, we empower smallholder farmers in Uganda with advanced data analytics and actionable insights to optimize their agricultural practices.</p>
        </div>
        <div class="col-lg-4 col-md-12 mb-4">
            <h3 class="text-uppercase">Our Mission</h3>
            <p>Our mission is to enhance productivity, drive sustainability, and support farmers in navigating the challenges posed by climate variability and limited access to technology.</p>
        </div>
        <div class="col-lg-4 col-md-12 mb-4">
            <h3 class="text-uppercase">What We Do</h3>
            <p>We provide smallholder farmers with:</p>
            <ul>
                <li>Data-driven insights for crop management</li>
                <li>Training on sustainable farming practices</li>
                <li>Access to technology and tools to enhance productivity</li>
            </ul>
        </div>
    </div>
</div>
<!-- Get Started Button -->
<div class="my-4">
    <a href="{% url 'index' %}" class="btn btn-primary btn-lg">Get Started Here</a>
</div>
{% endblock %}
